<footer>
  <a href="https://www.facebook.com/" target="_blank"
    ><img class="icons1" src="images/Facebook.png" alt="Facebookicon"
  /></a>
  <a href="https://www.linkedin.com/" target="_blank"
    ><img class="icons1" src="images/LinkedIn.png" alt="LinkedInicon"
  /></a>
  <h4>Dette er et skoleprojekt Lavet for NEXT Uddannelsen København Copenhagen, Denmark</h4>
  <a href="https://www.instagram.com/" target="_blank"
    ><img class="icons2" src="images/Instagram.png" alt="Instagramicon"
  /></a>
  <a href="https://www.twitter.com/" target="_blank"
    ><img class="icons2" src="images/Twitter.png" alt="Twittericon"
  /></a>
</footer>

<style>
  /** FOOTER **/

footer {
  background: #140e26;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer h4 {
  color: #999;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  font-size: 12px;
  max-width: 140px;
  word-break: normal;
}

footer img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
</style>