<header class="header__desktop">
  <nav class="header__desktop__nav">
    <div class="header__desktop__logo__con">
      <img class="header__desktop__logo" src="/images/logo.webp" alt="logo" />
    </div>
    <ul class="header__desktop__ul">
      <li><a class="header__desktop__link" href="index.html">Forside</a></li>
      <li>
        <a class="header__desktop__link" href="/pages/hvadlaverman.html">Hvad laver man</a>
      </li>
      <li>
        <a class="header__desktop__link" href="/pages/praktisk-info.html">Praktisk info</a>
      </li>
      <li><a class="header__desktop__link" href="/pages/jobmuligheder.html">Job</a></li>
      <li><a class="header__desktop__link" href="/pages/eksempler.html">Eksempler</a></li>
    </ul>
  </nav>
</header>

<style>
 /** HEADER DESKTOP **/

 .header__desktop {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
}

  .header__desktop__nav {
    display: flex;
  }

  .header__desktop__ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 100%;
    font-family: 'Exo', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #fd925c;
    font-size: 30px;
  }

  .header__desktop__link {
    text-decoration: none;
    color: inherit;
  }

  .header__desktop__logo__con {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 0.5em 1em;
    max-width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  /** HEADER DESKTOP END **/

  @media only screen and (min-width: 1000px) {
  .header__desktop {
    display: block;
  }
}
</style>